/* General body styling */
body {
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-image 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Centered header section */
header {
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 0;
}

/* Container for the download buttons */
.link-container {
    background-color: rgba(40, 40, 100, 0.2);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

/* Center the header text */
h1 {
    color: #2980b9;
    text-shadow: 
        1px 1px 0 rgb(0, 0, 0, 0.7), 
        -1px -1px 0 rgb(0, 0, 0, 0.7),
        1px -1px 0 rgba(0, 0, 0, 0.7),
        -1px 1px 0 rgba(0, 0, 0, 0.7);
    margin: 0; 
    padding: 20px; 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center; 
}

/* Style for buttons */
.rounded-button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: #3498db;
    border-radius: 25px; /* Rounded buttons */
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    min-width: 100px;
}

/* Button hover effect */
.rounded-button:hover {
    background-color: #2980b9;
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Hidden elements by default */
.hidden {
    display: none;
}

/* Center footer */
footer {
    text-align: center;
    background-color: #2980b9;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
